.categoryItem {
  margin: 10px 0; /* Space between items */
}

.select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s;
}

.select:focus {
  border-color: #0070f3; /* Change border color on focus */
  outline: none; /* Remove default outline */
}
