/* FormModal.module.css */

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
}

.modal.show {
  display: block;
}

.modalContent {
  background-color: #fefefe;
  margin: 25% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 350px;
  opacity: 0;
  transform: translateY(100%);
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.modalContent.slideIn {
  animation-name: slideIn;
  animation-fill-mode: forwards;
}

.modalContent.slideOut {
  animation-name: slideOut;
  animation-fill-mode: 0.5s ease-out forwards;
}

.close {
  text-align: center;
  margin: -5px -5px 0 0;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to right, #00bcd4, white);
  position: relative;
  z-index: 1;
  transition: background-color 0.3s, color 0.3s;
}

.close::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #fff;
  background: #f1a82a;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 50px;
}

.btn {
  background-color: #00bcd4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background: #f1a82a;
}

.text {
  font-size: 25px;
  color: #888;
  margin: 10px auto;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}
